    <!-- Header with Navbar -->
    {% block menu %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">NewsSite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWorld" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            World
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownWorld">
                            <li><a class="dropdown-item" href="#">Asia</a></li>
                            <li><a class="dropdown-item" href="#">Europe</a></li>
                            <li><a class="dropdown-item" href="#">Americas</a></li>
                            <li><a class="dropdown-item" href="#">Africa</a></li>
                            <li><a class="dropdown-item" href="#">Oceania</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTechnology" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Technology
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownTechnology">
                            <li><a class="dropdown-item" href="#">Gadgets</a></li>
                            <li><a class="dropdown-item" href="#">Software</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">Innovation</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">AI</a></li>
                                    <li><a class="dropdown-item" href="#">Blockchain</a></li>
                                    <li><a class="dropdown-item" href="#">Virtual Reality</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}