{% extends "mb/base.html" %}
{% load c_tags %}




{% block middle %}


{% block content %}
  <h2>Login</h2>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
  </form>

  <p><a href="{% url 'account_signup' %}">Sign up</a></p>
{% endblock %}


{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
    <h2>SIAT</h2>
    <p>This is where the home page content goes.</p>
{% endblock %}

{% block left %}
{% categories %}

{% endblock %}